@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Body Section */

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    max-width: 100%;
}

/* Main Section */

main {
    display: flex;
    justify-content: center;
    max-width: inherit;
    height: 58rem;
    border: 1px solid #000;
}

.hero-section {
    outline: 1px solid red;
    min-width: 50%;
}

.signup-form {
    min-width: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    margin-top: 18rem;
}

form > div {
    padding: .75rem 0;
}

input {
    min-width: 14rem;
    border: none;
    border-bottom: .1rem solid #000;
}

input::placeholder {
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

input:focus {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1rem;
    margin-top: 3rem;
    padding: .25rem;
    letter-spacing: .1rem;
    font-weight: 500;
}

.already-account {
    font-size: 1rem;
    margin-top: 5rem;
}

