@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Body Section */

body {
    
}

/* Main Section */

main {
    display: flex;
    justify-content: center;
    min-width: 100%;
}

/* Hero Section */

.hero-section {
    min-height: 95vh;
    min-width: 50%;
    background-color: #FFF;
    opacity: .65;
    background-image: url("../images/fabrizio-coco-9bi4ilWgMmU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-section h1 {
    font-size: 2rem;
    font-weight: 450;
    font-stretch: extra-expanded;
    padding: 1rem 0 0 1rem;
}

.trademark {
    font-size: 1.5rem;
}

.hero-logo img {
    display: flex;
    height: 35rem;
    width: 35rem;
    margin: 0 auto;
    margin-top: 6rem;
    mix-blend-mode: multiply;
    position: sticky;
    z-index: 3;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    margin-top: 2rem;
}

.main-header img {
    mix-blend-mode: multiply;
    height: 10rem;
    width: 10rem;
    background-color: #FFF;
}

.main-header h2 {
    font-size: 2rem;
    font-weight: 450;
}

/* Form Section */

.form-section {
    min-height: 95vh;
    min-width: 50%;
}

form {
    margin-top: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    font-size: 1.25rem;
    height: 2.5rem;
    min-width: 14rem;
    border: none;
    border-bottom: .1rem solid #000;
    padding: .25rem;
}

input:focus {
    background-color: beige;
    outline: none;
}

input::placeholder {
    color: #000;
    font-size: 1.25rem;
}

.error-modal {
    display: none;
    font-size: .75rem;
    font-weight: 500;
    border: 1px solid #000;
    color: #FFF;
    background-color: #000;
    opacity: .9;
    position: absolute;
    margin-top: .1rem;
    padding: .25rem;
}

/* Create Account Button */

.create-account {
    margin: 3rem 0 3rem 0;
}

#create-account {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .25rem;
    border-radius: .25rem;
    background-color: #000;
    color: #FFF;
    box-shadow: .5rem .5rem .5rem #000;
}

#create-account:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 2s ease-in-out;
}

.sign-in {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: .25rem;
}

.existing-account {
    font-size: .9rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
}

.sign-in-account a {
    color: blue;
    text-decoration: none;
}

/* Footer Section */

footer {
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    opacity: .85;
    min-width: 100%;
}